.hello {
  $scroll-size: 40px;

  height: $scroll-size;
  display: flex;

  p {
    line-height: $scroll-size;
    font-size: $scroll-size;
    color: #fff;
  }

  .scroller {
    height: $scroll-size;
    line-height: $scroll-size;
    margin-left: 10px;
    overflow: hidden;
  }

  .scroller span {
    display: block;
    font-size: $scroll-size;
    color: #ccc;
  }

  .scroller .inner {
    animation: scroll 5s infinite ease-out;
  }

  @keyframes scroll {
    0% {
      margin-top: 0;
    }

    15% {
      margin-top: 0;
    }

    25% {
      margin-top: -$scroll-size;
    }

    35% {
      margin-top: -$scroll-size;
    }

    45% {
      margin-top: -80px;
    }

    55% {
      margin-top: -80px;
    }

    65% {
      margin-top: -120px;
    }

    75% {
      margin-top: -120px;
    }

    100% {
      margin-top: 0;
    }
  }
}
